In [ ]:
#PANDAS library = used to create dataframes and series
#DATAFRAME = Tabular Data (Data presented in the form of a table)
#SERIES  = COLUMN (Series is always 1 dimensional)

In [2]:
#Let us create a dictionary
mydataset = {'cars':['BMW','VOLVO','MERCEDES'] , 'passings' :['3','7','2'] }
print(mydataset)

{'cars': ['BMW', 'VOLVO', 'MERCEDES'], 'passings': ['3', '7', '2']}

In [4]:
#Now using the above dictionary , Let us create a dataframe
import pandas as pd
df = pd.DataFrame(mydataset)
print(df)

       cars passings
0       BMW        3
1     VOLVO        7
2  MERCEDES        2

In [5]:
#Create a list
a = [1,3,5,78,89]
myvar = pd.Series(a)
print(myvar)
#WHERE 1,3,5,78,89 are the series numbers & 0,1,2,3,4 are the indexes

0     1
1     3
2     5
3    78
4    89
dtype: int64

In [7]:
# CHanging the indexes
a = [1,3,6,7,8,9]
myvar1 = pd.Series(a , index=['a','b','c','d','e','f'])
print(myvar1)

a    1
b    3
c    6
d    7
e    8
f    9
dtype: int64

In [8]:
sports1 = pd.Series([1,2,3,4] ,index=['Cricket','Football','Hockey','Golf'])
print(sports1)

Cricket     1
Football    2
Hockey      3
Golf        4
dtype: int64

In [9]:
sports2 = pd.Series([1,2,3,4] , index=['Cricket','Basketball','Baseball','Golf'])
print(sports2)

Cricket       1
Basketball    2
Baseball      3
Golf          4
dtype: int64

In [10]:
sports = sports1 + sports2
print(sports)

Baseball      NaN
Basketball    NaN
Cricket       2.0
Football      NaN
Golf          8.0
Hockey        NaN
dtype: float64

In [ ]:
#NaN = Not a Number (Null Value / Missing Value)
# When NaN comes into picture integer becomes float

In [11]:
#Now let us make a Dataframe [key value pair dictionary]
#Using NUMPY
import numpy as np
df = pd.DataFrame({'Cricket' : [1,2,np.nan,3,5,np.nan,4,7],
                   'Basketball':[3,5,6,np.nan,2,np.nan,7,9],
                   'Badminton' : [1,2,3,4,5,6,7,8]})
print(df)

   Cricket  Basketball  Badminton
0      1.0         3.0          1
1      2.0         5.0          2
2      NaN         6.0          3
3      3.0         NaN          4
4      5.0         2.0          5
5      NaN         NaN          6
6      4.0         7.0          7
7      7.0         9.0          8

In [12]:
#Now let us replace all null values with 1
df= df.fillna(value=1)
print(df)

   Cricket  Basketball  Badminton
0      1.0         3.0          1
1      2.0         5.0          2
2      1.0         6.0          3
3      3.0         1.0          4
4      5.0         2.0          5
5      1.0         1.0          6
6      4.0         7.0          7
7      7.0         9.0          8